[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailorgram
Exec=invoker --type=generic /usr/bin/harbour-sailorgram %U
Name=SailorGram
