[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailorgram
Exec=invoker --type=j /usr/bin/harbour-sailorgram
Name=SailorGram
