Source: libqtelegram-ae
Priority: optional
Maintainer: Aseman Team <contact@aseman.co>
Build-Depends: cmake,
               debhelper (>= 8.0.0),
               libssl-dev,
               pkg-config,
               qt5-default,
               qtbase5-dev (>= 5.0),
               qtmultimedia5-dev,
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/Aseman-Land/libqtelegram-aseman-edition
Vcs-Browser: https://github.com/Aseman-Land/libqtelegram-aseman-edition

Package: libqtelegram-ae-dev
Section: libdevel
Architecture: any
Depends: libqtelegram-ae (= ${binary:Version})
Description: Forked libqtelegram. Telegram protocol access library.
 This is a Qt asynchronous library to be used as Telegram client. 
 Using signal-slot mechanism to communicate to telegram servers, 
 exposes an easy to use API for applications to interact to. 

Package: libqtelegram-ae
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Forked libqtelegram. Telegram protocol access library.
 This is a Qt asynchronous library to be used as Telegram client. 
 Using signal-slot mechanism to communicate to telegram servers, 
 exposes an easy to use API for applications to interact to.
