[Unit]
Description=Sailorgram notifications
Requires=lipstick.service
After=lipstick.service

[Service]
Type=dbus
ExecStart=/usr/bin/invoker --type=j /usr/bin/harbour-sailorgram -daemon
BusName=org.harbour.sailorgram

[Install]
WantedBy=post-user-session.target
